<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Contato | Amanda Vieira - Portifolio</title>
  <link rel="stylesheet" href="../static/css/styles_contato.css" />
  <link rel="stylesheet" href="../static/css/global.css" />
</head>

<body>

  <div id="progress">
    <span id="progress-value">
      <i class="fa-solid fa-arrow-up"></i>
    </span>
  </div>

  <script src="https://kit.fontawesome.com/4a48cb8251.js" crossorigin="anonymous"></script>

  <div class="container">
    <section id="seta">
      <header>
        <nav>
          <a href="{{ url_for('home')}}">
            <img src="../static/logo.png" class="logo" alt="Amanda Vieira">
          </a>

          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>

          <ul class="nav-list">
            <li><a href="{{ url_for('home')}}">Início</a></li>
            <li><a href="">Contato</a></li>
          </ul>

        </nav>
      </header>

      <script src="../static/mobile-navbar.js"></script>

      <div class="rows">

        <div class="row1">
          <div class="contato">
            <p id="titulo">Entre em contato</p>
            <p id="ende">LOCALIZAÇÃO</p>
            <p>São José dos Campos - SP</p>
            <p>Brasil</p>
          </div>
        </div>

        <div class="row2">
          <form action="/contato" method="post">

            <div class="row3">

              <div class="campo">
                <label>Nome</label>
                <input name="nome" type="text">
              </div>

              <div class="campo">
                <label>Email</label>
                <input name="email" type="email">
              </div>
            </div>

            <div class="row3">
              <div class="assunto">
                <label>Assunto</label>
                <input name="assunto" type="text">
              </div>
            </div>

            <div class="campo">
              <p>Mensagem</p>
              <textarea name="txtdesc" id="txtdesc"></textarea>
            </div>

            <input id="enviar" type="submit">
          </form>
        </div>
      </div>
  </div>
</body>

</html>