p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.Projetos {
  font-size: 22px;
  color: #a0a0a0;
  margin: 5% 0% 2% 20%;
}

.flex {
  display: flex;
  margin: 0% 20% 0% 20%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linkProj {
  text-decoration: none;
  color: black;
}

.linkProj:hover {
  color: rgb(172, 0, 43);
}

.boxProjetos {
  width: 550px;
  height: 400px;
  margin-bottom: 10%;
  background-color: #C4C4C4;
  padding: 5px;
}

.material-icons {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  font-size: 200px;
  text-align: center;
}