* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.logoo {
  width: 10%;
  margin-left: -80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #fff;
  height: 8vh;
  margin: 1% 5% 0% 0%;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(0, 0, 0);
  margin: 8px;
  transition: 0.3s;
}


body {
  overflow-x: hidden;
}

.nav-list {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 50vw;
  height: 92vh;
  background: #a0a0a0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.nav-list li {
  margin-left: 0;
  opacity: 0;
}

.mobile-menu {
  display: block;
}


.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* -------------------------------------------------------------*/

p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.Projetos {
  font-size: 22px;
  color: #a0a0a0;
  margin: 5% 0% 2% 20%;
}

.flex {
  display: flex;
  margin: 0% 20% 0% 20%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linkProj {
  text-decoration: none;
  color: black;
}

.linkProj:hover {
  color: rgb(172, 0, 43);
}

.boxProjetos {
  width: 550px;
  height: 400px;
  margin-bottom: 10%;
  background-color: #C4C4C4;
  padding: 5px;
}

.material-icons {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  font-size: 200px;
  text-align: center;
}