p,
.proj ul {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.containerApre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
}

.containerProj {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 50vh;
}

.apre {
  margin-top: 15%;
}

.containerApre img {
  width: 25vw;
}

.apre {
  width: 500px;
}

#nome {
  font-size: 15px;
}

#tecnica {
  font-size: 30px;
  margin: 4% 0%;
}

#disc {
  margin-bottom: 5%;
}

.apre a {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

span,
.proj button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/*.containerApre img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}*/

.containerSeta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 15vh;
}

.containerSeta i {
  color: black;
}

/* -------------------------------------------------------------*/

#titleProj {
  font-size: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 3%;
}

.containerProjeto {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tools {
  margin: 2% 0%;
}

.containerProj .proj ul {
  margin-left: 7%;
}

.proj div button,
.proj button {
  height: 6vh;
  width: 9vw;
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 82, 142);
  color: #ffffff;
  cursor: pointer;
}

#explica {
  font-size: 12px;
}

/* -------------------------------------------------------------*/

.containerServico {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.servico {
  text-align: center;
}

.servico b,
.servico a {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: black;
}

.servico p {
  font-size: 25px;
}

.siga {
  display: flex;
  gap: 50px;
}

.siga button {
  color: black;
  width: 4vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2%;
}

.fa-brands {
  font-size: 50px;
  color: black;
}

.fa-brands:hover,
.fa-solid.fa-angle-down:hover {
  color: rgb(116, 0, 64);
  transition: 0.3s;
}

.fa-solid.fa-angle-down {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* -------------------------------------------------------------*/

#progress {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

.containerMockup img {
  width: 100%;
  height: 100%;
}

.containerMockup {
  display: flex;
  width: 35em;
}

.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
  height: 40vh;
}

@media screen and (max-width: 636px) {
  .containerApre {
    flex-direction: column-reverse;
  }

  .apre {
    width: auto;
  }

  .containerProj {
    flex-direction: column;
  }

  .proj {
    width: 20em;
  }

  .containerMockup {
    width: auto;
  }

  .proj div button,
  .proj button {
    width: 40vw;
  }

  .servico p {
    font-size: 20px;
  }

  .servico b {
    font-size: 25px;
  }

  .fa-brands {
    font-size: 30px;
  }

  .fa-solid {
    font-size: 30px;
  }

  .containerApre img {
    width: 50vw;
  }
}