p, .containerProj .proj ul{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.containerApre, .containerProj{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.containerApre .apre{
  margin-top: 15%;
}

.containerApre img {
  width: 25vw;
}

.apre {
  width: 500px;
  color: #a0a0a0;
}

#nome {
  font-size: 15px;
}

#tecnica {
  font-size: 30px;
  color: black;
  margin: 4% 0%;
}

#disc {
  margin-bottom: 5%;
}

.containerApre .apre a {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

span, .containerProj .proj button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/*.containerApre img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}*/

/* -------------------------------------------------------------*/

#titleProj {
  font-size: 22px;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
}

.title{
  font-size: 30px;
  margin-bottom: 3%;
}

.containerProj .proj{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18vw;
  margin-left: 4%;
}

#tools{
  margin: 2% 0%;
}

.containerProj .proj ul{
  margin-left: 7%;
}

.containerProj .proj div button,
.containerProj .proj button{
  height: 6vh;
  width: 8.7vw;
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 82, 142);
  color: #ffffff;
  cursor: pointer;
  margin-top: 2%;
}

.containerProj .proj .game{
  background-color: rgb(60, 70, 91);
}

#explica{
  font-size: 12px;
}
.containerProj .proj .device{
  background-color: rgb(90, 80, 145);
}

/* -------------------------------------------------------------*/

.servico{
  text-align: center;
  margin: 2% 0%;
}

.servico b, .servico a{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: black;
}


#linha-horizontal {
  border: 2px solid #a0a0a0;
  width: 70vw;
  display: flex;
  justify-content: center;
}

.siga {
  display: flex;
  justify-content: center;
}

.siga button, #goProject button {
  color: black;
  width: 4vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2%;
  margin-bottom: 5%;
}

.fa-brands.fa-github, .fa-brands.fa-linkedin, 
.fa-brands.fa-instagram, .fa-solid.fa-arrow-right{
  font-size: 50px;
}

.fa-solid.fa-angle-down{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
/* -------------------------------------------------------------*/

#progress {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}