<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Habilidades | Amanda Vieira - Portifolio</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../assets/favicon_io/favicon.ico">
    <link rel="stylesheet" href="../static/css/styles_habilidades.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>

<body>
    <div id="progress">
        <span id="progress-value">
            <i class="fa-solid fa-arrow-up"></i>
        </span>
    </div>
    <script src="https://kit.fontawesome.com/4a48cb8251.js" crossorigin="anonymous"></script>

    <div class="container">
        <section id="seta">
            <header>
                <nav>
                    <a href="{{ url_for('home')}}">
                        <img src="../static/logoo.png" class="logo" alt="Amanda Vieira">
                    </a>
                    <div class="mobile-menu">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <ul class="nav-list">
                        <li><a href="{{ url_for('home')}}">Início</a></li>
                        <li><a href="">Habilidades</a></li>
                        <li><a href="{{ url_for('contato')}}">Contato</a></li>
                    </ul>
                </nav>
            </header>
            <script src="../static/mobile-navbar.js"></script>

            <div class="container">

                <b id="title">Habilidades</b>

                <div class="images">

                    <div class="row">
                        <div class="column">
                            <img src="../static/habilidades/html.png">
                            <p>HTML</p>
                        </div>
                        <div class="column">
                            <img src="../static/habilidades/css.png">
                            <p>CSS</p>
                        </div>
                        <div class="column">
                            <img src="../static/habilidades/python.png">
                            <p>Python</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <img src="../static/habilidades/mysql.png">
                            <p>MySQL</p>
                        </div>
                        <div class="column">
                            <img src="../static/habilidades/flask.png">
                            <p>Flask</p>
                        </div>
                        <div class="column">
                            <img src="../static/habilidades/c++.png">
                            <p>C++</p>
                        </div>
                    </div>
                    
                </div>
            </div>

    </div>
</body>

</html>