<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
</head>
<body>

    <table id="alunos">
        <thead>
            <tr>    
                <th>Nome</th>
                <th>Email</th>
                <th>Assunto</th>
                <th>Mensagem</th>
            </tr>
        </thead>
        {% for contato in contatoDetails %}
        <tbody>
            <tr>
                <td>{{contato[0]}}</td>
                <td>{{contato[1]}}</td>
                <td>{{contato[2]}}</td>
                <td>{{contato[3]}}</td>
            </tr>

        </tbody>
        {% endfor%}
    </table>
    
</body>
</html>