p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}


/*--------------------------------------------------*/

.containerCert {
  display: flex;
  justify-content: center;
}

#titleCert {
  font-size: 22px;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  margin: 2%;
}

.linkCert {
  text-decoration: none;
  color: black;
}

.linkCert:hover {
  color: rgb(172, 0, 43);
}

.box {
  width: 15vw;
  height: 25vh;
  margin-bottom: 10%;
  background-color: #C4C4C4;
  padding: 5px;
  border-radius: 5px;
}

.box p{
  display: flex;
  justify-content: center;
}

.material-icons {
  width: 100%;
  height: 100%;
  font-size: 150px;
  text-align: center;
  margin-top: 10%;
}
